# Игнорировать базу данных SQLite
todo.db

# Игнорировать папку с скомпилированными файлами Python
__pycache__/

# Игнорировать файлы журналов
*.log

# Игнорировать файлы IDE
.vscode/
.idea/

build
dist